<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('partials/cmn-head.ejs') %>
    <title>Page not found!</title>
</head>
<body>
    <!-- navbar  -->
    <%- include('partials/header.ejs') %>

    <div class="container">
        <div class="row flex-column align-items-center justify-content-center">
            <div class="col-sm-6 text-center h3 p-3">
                404 Error! <br>Page Not Found!.
            </div>
            <div class="col-auto">
                <a href="/" class="btn btn-primary">Back to Home</a>
            </div>
        </div>
    </div>
    <!-- footer  -->
    <%- include('partials/footer.ejs') %>
    <!-- script  -->
    <%- include('partials/cmn-js.ejs') %>   
</body>
</html>