<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('partials/cmn-head.ejs') %>
    <title>GSR Web Works</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div id="hero-section">
        <div class="container-fluid">
            <div class="row">
                <div class="position-relative p-6 overflow-hidden">
                    <img src="../assets/img/hero-2.jpg" alt="Image" class="position-absolute top-0 start-0 w-auto h-100 block md-w-100">
                    <div class="text-center my-6 position-relative">
                        <div class="display-1 text-white fw-bold mb-1">The Platform For</div>
                        <div class="display-1 text-primary fw-bold mb-4">Today's Generation</div>
                        <p class="mt-0 mb-4 fs-5 lh-3 text-center mx-auto text-white" style="max-width: 500px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <button type="button" class="btn btn-primary">
                            Learn More
                        </button>
                        <p class="text-small mt-4 mb-4 lh-3 text-white">
                            Available for MacOS, Web and Google accounts only
                        </p>
                        <div class="d-flex justify-content-center align-items-center">
                            <a href="https://www.apple.com" class="text-white me-3">
                                <i class="pi pi-apple fs-2"></i>
                            </a>
                            <a href="https://play.google.com" class="text-white me-3">
                                <i class="pi pi-android fs-2"></i>
                            </a>
                            <a href="https://www.facebook.com" class="text-white">
                                <i class="pi pi-facebook fs-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- footer  -->
    <%- include('partials/footer.ejs') %>
    <!-- script  -->
    <%- include('partials/cmn-js.ejs') %>
 
   
</body>
</html>