<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('partials/cmn-head.ejs') %>
    <title>GSR Web Works</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/footer.ejs') %>
    <%- include('partials/cmn-js.ejs') %>
 
   
</body>
</html>